.home-main
  .header_contents
    .header_logo
      = image_tag "logo.png", size: "140x40"
    .header-seach
      = form_with do |form| 
        = form.text_field :keyword, placeholder: "キーワードから探す", class: "search-input"
        = link_to "#", class: "serch-btn" do
          = image_tag "icon-search.png", size: "18x18"
.item_main
  .item_box
    .item_image
      .image_headline 
        .image_title
          出品画像
        .image_red
          [必須]
      .image_up
        .update_item
    最大5枚まで可能です。
    = form_for @item do |f|
      #img-box
        #previews
          - if @item.persisted? 
            - @item.images.each_with_index do |image, i|
              = image_tag @item.items_img.url, data: { index: i }, width: "100", height: '100'
        = f.fields_for :items_img do |i|
          .js-file_group{data: {index: "items_img.index"}}
            = i.file_field :url, class: "js-file" do
              %span.js-remove
                = f.submit "削除"
    .item_title
      .name_headline
        .name
          商品名
          .name_red
            [必須]
      .title_box
        = form_for @item do |f| 
          = f.text_field :name, placeholder: "入力してください", class: "name-input"
    .item_description
      .description_headline
        .name
          商品の説明
          .name_red
            [必須]
      .description
        = form_for @item do |f| 
          = f.text_area :introduction, placeholder: "入力してください", class: "description-input"
    .item_category
      .category_headline
        .name
          カテゴリー
          .name_red
            [必須]
      .category
        = form_with do |form|
          = form.select :status, [["日用品","1"],["化粧品","２"],["家電","３"]], prompt: "選択してください", class: "satatus"
    .item_brand
      = form_for @item do |f|
        = f.fields_for :brand do |brand|
          = brand.label "ブランド"
          .form-gray
            [任意]
          %div
            = brand.text_field :name, placeholder: "例）シャネル", value: "", class: "input-default"
    .item_status
      .status_headline
        .name
          商品の状態
          .name_red
            [必須]
      .status
        = form_for @item do |f|
          = f.collection_select :item_condition_id, ItemCondition.all, :id, :item_condition, prompt: "選択してください", class: "satatus"
    .item_delivery
      .delivery_headline
        .name
          配送料の負担
          .name_red
            [必須]
      .delivery
        = form_for @item do |f|
          = f.collection_select :postage_payer_id, PostagePayer.all, :id, :postage_payer, prompt: "選択してください", class: "money"
    .item_area
      .area_headline
        .name
          発送元の地域
          .name_red
            [必須]
      .area
        = form_for @item do |f|
          = f.collection_select :prefecture_id, Prefecture.all, :id, :name, prompt: "選択してください"
    .item_day
      .day_headline
        .name
          発送までの日数
          .name_red
            [必須]
      .day
        = form_for @item do |f|
          = f.collection_select :preparation_day_id, PreparationDay.all, :id, :preparation_day, prompt: "選択してください", class: "day"
    .item_post
      .post_headline
        .name
          販売価格
          .name_red
            [必須]
      .post_box
        = form_for @item do |f|
          = f.collection_select :postage_type_id, PostageType.all, :id, :postage_type, prompt: "選択してください"
    .item_price
      .price_headline
        .name
          販売価格
          .name_red
            [必須]
      .price_box
        .price
          = form_for @item do |f|
            = f.number_field :price, placeholder: "0", class: "price-input"
    .item_listing
      .listing_btn
        出品する
.form
  .form-to
    .form-list
      .form-title
        .title
          FURIMAについて
        %li.list
          会社概要（運営会社）
        %li.list
          プライバシーポリシー
        %li.list
          FURIMA利用規約
        %li.list
          ポイントに関する特約
      .form-title
        .title
          FURIMAを見る
        %l
.single-container
  = render "header"
  %main.single-main
  %section.l-single-container.buy-item-container
    #sell-container
      .sell-container-inner
        %h2.l-single-head
          商品の情報を入力
        = render 'error_message', locals: {item: @item}
        = form_with model: @item,local: true, class: "sell-form" do |f|
          .sell-upload-box
            %h3.sell-upload-head
              出店画像
              %span.form-require 必須
            %p 最大5枚までアップロードできます
            #image-box
              #previews
                - if @item.persisted?
                  - @item.images.each_with_index do |image, i|
                    = image_tag image.src.url, data: { index: i } ,class: 'input-image'
              = f.fields_for :images do |image|
                .js-file_group{"data-index" => "#{image.index}"}
                  = image.file_field :src, class: "js-file" #sell-upload-drop-file
                  %span.js-remove
                    = f.submit "削除"
                - if @item.persisted?
                  = image.check_box :_destroy, data:{ index: image.index }, class: 'hidden-destroy'
              - if @item.persisted?
                .js-file_group{"data-index" => "#{@item.images.count}"}
                  = file_field_tag :src, name: "item[images_attributes][#{@item.images.count}][src]", class: 'js-file'
                  .js-remove
                    = f.submit "削除"
          .sell-content
            .form-group
              %label
                商品名
                %span.form-require 必須
              %div
                = f.text_field :name, placeholder: "商品名(40文字以内)", class: "input-default"
            .form-group
              %label
                商品の説明
                %span.form-require 必須
              = f.text_area :content, placeholder: "商品の説明 (必須1000文字以内) (色、素材、重さ、定価、注意点など) 例)1900年頃のヴィンテージアウターです。ブラックで少し汚れがあります。あなたのハートを射止めます！", rows: "5", class: "textarea-default"
          .sell-content.clearfix
            %h3.sell-sub-head 商品の詳細
            .sell-form-box
              .form-group.category
                %label
                  カテゴリー
                  %span.form-require 必須
                  .select-wrap
                    .select-wrap__box.parent
                      %select#parent.select-wrap__box--select
                        %option{value: 0} 選択して下さい
                        - @parents.each do |parent|
                          %option{value: "#{parent.id}"} #{parent.name}
                      = icon('fas', 'angle-down', class: 'image-icon')   
                    .child
                      %select#child.select-wrap__box--select
                      = icon('fas', 'angle-down', class: 'image-icon')   
                    .grand_child
                      = f.collection_select(:category_id, [], :id, :name, {prompt: "選択して下さい"},{class: 'select-wrap__box--select', id: "grand_child",})
                      = icon('fas', 'angle-down', class: 'image-icon')   
              
              .form-group
                %label
                  サイズ
                  %span.form-require 必須 
                %div
                  .select-wrap
                    = f.collection_select :size_id, Size.all, :id, :value, {include_blank: "選択して下さい", selected: "選択して下さい"}, class: "select-default"
              .form-group
                %label
                  ブランド
                  %span.form-require-sub 任意
                %div
                  .select-wrap
                    = f.text_field :brand, placeholder: "例)シャネル", class: "select-default" 
              .form-group
                %label
                  商品の状態
                  %span.form-require 必須 
                %div
                  .select-wrap
                    = f.collection_select :condition_id, Condition.all, :id, :value, {include_blank: "選択して下さい", selected: "選択して下さい"}, class: "select-default"
          .sell-content.clearfix
            %h3.sell-sub-head 配送について
            = link_to "?", "#", target: "_blank", class: "form-question"
            .sell-form-box
              .form-group.burden
                %label
                  配送料の負担
                  %span.form-require 必須
                %div
                  .select-wrap
                    = f.collection_select :delivery_fee_id, DeliveryFee.all, :id, :value, {include_blank: "選択して下さい", selected: "選択して下さい"}, class: "select-default"
              .form-group
                %label
                  配送方法
                  %span.form-require 必須
                %div
                  .select-wrap
                    = f.collection_select :delivery_way_id, DeliveryWay.all, :id, :value, {include_blank: "選択して下さい", selected: "選択して下さい"}, class: "select-default"
              .form-group
                %label
                  発送元の地域
                  %span.form-require 必須
                %div
                  .select-wrap
                    = f.collection_select :prefecture_id, Prefecture.all, :id, :name, {include_blank: "選択して下さい", selected: "選択して下さい"}, class: "select-default"
              .form-group
                %label
                  発送までの日数
                  %span.form-require 必須
                %div
                  .select-wrap
                    = f.collection_select :delivery_date_id, DeliveryDate.all, :id, :value, {include_blank: "選択して下さい", selected: "選択して下さい"}, class: "select-default"
          .sell-content.clearfix
            %h3.sell-sub-head 販売価格(300 ~ 9,999,999)
            = link_to "?", "#", target: "_blank", class: "form-question"
            .sell-form-box
              %ul.sell-price
                %li.form-group
                  .clearfix
                    %label.l-left
                      価格
                      %span.form-require 必須
                    .l-right.sell-price-input
                      %div
                        = f.text_field :price, placeholder: "例)300", class: "input-default price",id: "sell-price"
                %li.clearfix
                  .l-left 販売手数料(10%)
                  .l-right#comercial_cost --
                %li.clearfix.bold
                  .l-left 販売利益
                  .l-right#profit --
          .modal{role: "dialog", tabindex: "-1"}
            .modal-inner
          .sell-content.sell-btn-box
            %div
              %p
                = link_to "禁止されている出品", "#"
                、
                = link_to "行為", "#"
                を必ずご確認ください。
              %p
                またブランド品でシリアルナンバー等がある場合はご記載ください。
                = link_to "偽ブランドの販売",  "#"
                は犯罪であり処罰される可能性があります。
              %p
                また、出品にもちまして
                = link_to "加盟店規約", "#"
                に同意したことになります。
            = f.submit "出品する", class: "btn-default btn-red"
            = link_to "もどる", root_path, class: "btn-default btn-gray"
          .overlay
  = render "footer"
