.home-main
  .header_contents
    .header_logo
      = image_tag "logo.png", size: "140x40"
    .header-seach
      = form_with do |form| 
        = form.text_field :keyword, placeholder: "キーワードから探す", class: "search-input"
        = link_to "#", class: "serch-btn" do
          = image_tag "icon-search.png", size: "18x18"
.item_main
  .item_box
    .item_image
      .image_headline 
        .image_title
          出品画像
        .image_red
          必須
      .image_up
        最大5枚までアップロードできます
      .image_box
    .item_title
      .name_headline
        .name
          商品名
        .name_red
          必須
      .title_box
    .item_description
      .description_headline
        .name
          商品の説明
        .name_red
          必須
      .description
    .item_category
      .category_headline
        .name
          カテゴリー
        .name_red
          必須
    .item_brand
      .brand_headline
        .name
          ブランド
        .name_gray
          任意
    .item_status
      .status_headline
        .name
          商品の状態
        .name_red
          必須
    .item_delivery
      .delivery_headline
        .name
          配送料の負担
        .name_red
          必須
    .item_area
      .area_headline
        .name
          発送元の地域
        .name_red
          必須
    .item_day
      .day_headline
        .name
          発送までの日数
        .name_red
          必須
    .item_price
      .price_headline
        .name
          販売価格
        .name_red
          必須
      .price_box
        .price
        .price_text
          価格（￥○○〜○○円まで)
    .item_listing
      .listing_btn
        出品する
